<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
College is already an expensive endevour.  We believe there should be free alternatives for all the nickle and dime software key and hardware purchases teachers require of students.  Thus, QuizQuick. 
</p>
