<% provide(:title, 'Help') %>
<h1>FAQ</h1>
<ul><li><b>Why don't I see a class or university I registered for on my account</b></ul></li>
<p>
Teachers and Universities ethier have to accept you first or have the option to remove you, depending on their settings.
</p>
