<div class="center hero-unit">
  <h1>Welcome to QuizQuick!</h1>

  <h2>
    Get started here:
  </h2>

  <%= link_to "New users sign up here!", signup_path, class: "btn btn-large btn-primary" %>
  </br></br>
  <%= link_to "Existing users sign in", signin_path, class: "btn btn-large" %>
</div>
